{% extends "Accounts/base.html" %}

{% block content %}
	<h1>Fill out the form to login</h1>
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary" style="margin-bottom: 24px;">
    </form>
	<strong>Forgot your Password?</strong><p></p>
	<a href="{% url 'password_reset' %}"><button  class="btn btn-warning" style="margin-bottom: 24px;">Reset Password</button></a><br>
	<strong>Don't have an account? Create one!</strong><p></p>
	<a href="{% url 'Accounts:register' %}"><button  class="btn btn-warning" style="margin-bottom: 24px;">Create account</button></a><br>
    <strong>Want to go back home? Go back!</strong><p></p>
	<a href="{% url 'Ads:home' %}"><button  class="btn btn-warning" style="margin-bottom: 24px;">Go Back</button></a>
{% endblock %}